<!DOCTYPE html>
<html>
  <head>
      <% include ./partials/headers.ejs %>
  </head>
  <body>
      <%- include(navbar) %>
    <div class="container-fluid pt-5 h-100 position-absolute">
      <%- include(page) %>
    </div>
  </body>
</html>
