<div class="container-fluid pt-5">
    <form class="p-5">
        <div class="row">
            <div class="col border text-center">
                1
            </div>
            <div class="col border text-center">
                2
            </div>
            <div class="col border text-center">
                3
            </div>
            <div class="col border text-center">
                4
            </div>
            <div class="col border text-center">
                5
            </div>
            <div class="col border text-center">
                6
            </div>
            <div class="col border text-center">
                7
            </div>
            <div class="col border text-center">
                8
            </div>
            <div class="col border text-center">
                9
            </div>
            <div class="col border text-center">
                10
            </div>
            <div class="col border text-center">
                11
            </div>
            <div class="col border text-center">
                12
            </div>
        </div>



        <div class="form-group">
            <label for="inputEmail4">Email</label>
            <input type="email" class="form-control" id="inputEmail4" placeholder="Email">
        </div>  
        <div class="form-group">
            <label for="inputEmail4">Email</label>
            <input type="email" class="form-control" id="inputEmail4" placeholder="Email">
        </div>
        <div class="form-group">
            <label for="inputEmail4">Email</label>
            <input type="email" class="form-control" id="inputEmail4" placeholder="Email">
        </div>         
    </form>
</div>