.facebook_btn:hover {
    opacity: 0.7;
}

/* Set a specific color for each brand */

/* Facebook */
.facebook_btn {
    background: #3B5998;
    color: white !important;
    
}


.rounded-circle-right{
    border-top-right-radius: 50% !important;
    border-bottom-right-radius: 50% !important;
}

.lateralMenu{
    z-index: 1040;
    top: 50px;
    height:100%;
}
#container_menu{
    background: url('/images/bg-menu.jpg');
    background-size: cover;
}
.lateralMenu .list-group{
    
}

.bg-semitransparent{
    background: RGBA(100,100,100,0.8) !important;
}

