<div id="container_menu" class="container-fuild bg-light pt-5 w-100 h-100 position-absolute">
    <div class="container-fluid h-100">
        <div class="row h-100 align-items-center justify-content-center">
            <div class="col-8">
                <div class="jumbotron text-light bg-semitransparent text-center">
                    <h1 class="display-2">MechanicShop</h1>
                    <p class="lead">
                        All that you need for your mechanicshop
                    </p>
                    <hr class="my-4">
                    <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
                    <p class="lead">
                        <a class="btn btn-secondary btn-lg" href="#" role="button">Learn more</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

