<div class="container">
        <div class="row text-center mb-4">
            <div class="col-md-12">
                <h4>Prestashop</h4>
                <small>1.6.1.19</small>
            </div>
        </div>
        <div class="row text-center">
            <div class="col-md-6 offset-md-3">
                <div class="card">
                    <div class="card-body">
                        <div class="login-img">
                            <img src="https://demos6.softaculous.com/PrestaShop/img/preston-login@2x.png">
                        </div>
                        <div class="login-title">
                            <h4>Log In</h4>
                        </div>
                        <div class="login-form mt-4">
                            <form>
                            <div class="form-row">
                                <div class="form-group col-md-12">
                                  <input id="email" name="Full Name" placeholder="Email Address" class="form-control" type="text">
                                </div>
                                <div class="form-group col-md-12">
                                  <input type="pass" class="form-control" id="pass" placeholder="Password">
                                </div>
                              </div>
                             <div class="form-row">
                            <div class="form-group">
                                    <div class="form-check">
                                      <input class="form-check-input" type="checkbox" value="" id="updatecheck1">
                                      <label class="form-check-label" for="updatecheck1">
                                        <small>By submitting this form you agree to our <a href="#">terms and conditions </a> </small>
                                        
                                      </label>
                                    </div>
                                  </div>
                        </div>                        
                            
                            <div class="form-row">
                                <button type="button" class="btn btn-danger btn-block">Submit</button>
                            </div>
                        </form>
                        </div>
                        <div class="logi-forgot text-right mt-2">
                            <a href="#">Reset Password </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>