        <div class="row text-center align-items-center h-100">
            <div class="col mx-auto">
                <div class="card mx-auto" style="width: 18rem;">
                    <div class="card-body">
                        <div class="login-title">
                            <h4>Log In</h4>
                        </div>
                        <div class="login-form mt-4">
                            
                            <div class="form-row">
                                <div class="form-group col-md-12">
                                  <input id="user" name="user" placeholder="Email Address or Username" class="form-control" type="text">
                                </div>
                                <div class="form-group col-md-12">
                                  <input type="password" name="password" class="form-control" id="password" placeholder="Password">
                                </div>
                              </div>
                             <div class="form-row">
                            <div class="form-group">
                                    <div class="form-check">
                                      <input class="form-check-input" type="checkbox" value="" id="updatecheck1">
                                      <label class="form-check-label" for="updatecheck1">
                                        <small>By submitting this form you agree to our <a href="#">terms and conditions </a> </small>
                                        
                                      </label>
                                    </div>
                                  </div>
                        </div>                        
                            
                            <div class="form-row">
                                <button id="submit" type="button" class="btn btn-danger btn-block">Submit</button>
                            </div>
                        
                        </div>
                        <div class="logi-forgot text-right mt-2">
                            <a href="#">Reset Password </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <script>
                $(document).ready(function(){
                  var user,pass;
                  $("#submit").click(function(){
                    user=$("#user").val();
                    pass=$("#password").val();
                    
                    $.post("http://localhost:5000/login",{username: user,password: pass}, function(data){
                      if(data)
                        {
                            alert("Have data");
                            alert(data);
                        }else {
                            window.location = "/";
                        }
                    });
                   
                        
/*
                    $.ajax({
                        type: "POST",
                        url: "http://localhost:5000/api/auth",
                        data: JSON.stringify({username: user,password: pass}),
                        contentType: "application/json; charset=utf-8",
                        dataType: "json",
                        success: function(data){
                            if(data)
                            {
                                    alert(data);
                            }else {
                                window.location = "/";
                            }
                        },
                        failure: function(errMsg) {
                            alert(errMsg);
                        }
                        
                    });
                     */


                  });

                });
              </script>