        <div class="row text-center align-items-center h-100">
            <div class="col mx-auto">
                <div class="card mx-auto" style="width: 18rem;">
                    <div class="card-body">
                        <div class="login-title">
                            <h4>Log In</h4>
                        </div>
                        <div class="login-form mt-4">
                            
                            <div class="form-row">
                                <div class="form-group col-md-12">
                                  <input id="user" name="user" placeholder="Email Address or Username" class="form-control" type="text">
                                </div>
                                <div class="form-group col-md-12">
                                  <input type="password" name="password" class="form-control" id="password" placeholder="Password">
                                </div>
                              </div>
                             <div class="form-row">
                          
                            </div>                        
                            
                            <div class="form-row">
                                <button id="submit" type="button" class="btn btn-danger btn-block">Submit</button>
                            </div>
                            <div class="border-top mt-2 text-secondary">
                                
                            </div>
                            <div class="form-row pt-2">
                                <a href="/auth/facebook/" class="btn btn-block facebook_btn">
                                    <div class="container">
                                        <div class="row align-items-center">
                                            <div class="col-2 fa fa-facebook"></div>
                                            <div class="col-10">Continue with facebook</div>
                                        </div>
                                    </div>
                                </a>    
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>

       
        <script>
                $(document).ready(function(){
                  var user,pass;


                  $("#submit").click(function(){
                    user=$("#user").val();
                    pass=$("#password").val();
                    $('#submit').prop('disabled', true);
                    $('#submit').html("Loading...");
                    $('#submit').addClass("pulse animated infinite");
                    
                    
                    $.post("/login",{username: user,password: pass}, function(data){
                      if(data)
                        {
                            var status = JSON.stringify(data);
                           
                            if(data.status == "Success")
                            {
                                window.location = "/";
                            } else {
                                $('#submit').removeClass("pulse animated infinite");
                                $('#submit').prop('disabled', false);
                                $('#submit').html("Submit");
                                alert(data.message);
                            }
                            
                        }else {
                            alert("Error connect server")
                        }
                    });

                  });

                });
              </script>

              
