        <div class="row text-center align-items-center h-100">
            <div class="col mx-auto">
                <div class="card mx-auto" style="width: 18rem;">
                    <div class="card-body">
                        <div class="login-title">
                            <h4>Log In</h4>
                        </div>
                        <div class="login-form mt-4">
                            
                            <div class="form-row">
                                <div class="form-group col-md-12">
                                  <input id="user" name="user" placeholder="Email Address or Username" class="form-control" type="text">
                                </div>
                                <div class="form-group col-md-12">
                                  <input type="password" name="password" class="form-control" id="password" placeholder="Password">
                                </div>
                              </div>
                             <div class="form-row">
                          
                            </div>                        
                            
                            <div class="form-row">
                                <button id="submit" type="button" class="btn btn-danger btn-block">Submit</button>
                            </div>
                            

                            <div class="form-row">
                                <button id="submitCreate" type="button" class="btn btn-warning btn-block">Create</button>
                            </div>

                            <fb:login-button 
                            scope="public_profile,email"
                            onlogin="checkLoginState();">
                            </fb:login-button>
                        
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>

        <div id="resultFB"> </div>
        <div id="resultFB2"> </div>

        <script>
                $(document).ready(function(){
                  var user,pass;


                  $("#submit").click(function(){
                    user=$("#user").val();
                    pass=$("#password").val();
                    $('#submit').prop('disabled', true);
                    $('#submit').html("Loading...");
                    $('#submit').addClass("pulse animated infinite");
                    
                    
                    $.post("http://localhost:5000/login",{username: user,password: pass}, function(data){
                      if(data)
                        {
                            var status = JSON.stringify(data);
                           
                            if(data.status == "Success")
                            {
                                window.location = "/";
                            } else {
                                $('#submit').removeClass("pulse animated infinite");
                                $('#submit').prop('disabled', false);
                                $('#submit').html("Submit");
                                alert(data.message);
                            }
                            
                        }else {
                            alert("Error connect server")
                        }
                    });

                  });

                });
              </script>

              
    <script>
        window.fbAsyncInit = function() {
          FB.init({
            appId      : '306513316657583',
            cookie     : true,
            xfbml      : true,
            version    : 'v3.2'
          });
            
          FB.AppEvents.logPageView(); 
          
          FB.getLoginStatus(function(response) {
            $("#resultFB").html(JSON.stringify(response));
            //{"status":"not_authorized"}
        });

        function checkLoginState() {
        FB.getLoginStatus(function(response) {
            $("#resultFB2").html(JSON.stringify(response));
        });
        }
            
        };
      
        (function(d, s, id){
           var js, fjs = d.getElementsByTagName(s)[0];
           if (d.getElementById(id)) {return;}
           js = d.createElement(s); js.id = id;
           js.src = "https://connect.facebook.net/en_US/sdk.js";
           fjs.parentNode.insertBefore(js, fjs);
         }(document, 'script', 'facebook-jssdk'));


         
      </script>